<a href="https://colab.research.google.com/github/radhakrishnan-omotec/football_predict/blob/main/Aditya_Raunaq_Project_1_Football_player_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Football-player-price-prediction

## To train the models

## To deploy the model

It is the Random Forest according to our implementation

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import itertools
import json
import pickle

In [ ]:
df = pd.read_csv('/content/football.csv')

In [ ]:
df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3.0,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2.0,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2.0,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1.0,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2.0,France,0,4,1,1,0

In [ ]:
df.tail()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
456,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2.0,Switzerland,0,1,20,0,1
457,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4.0,Congo DR,0,2,20,0,1
458,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1.0,England,0,2,20,0,0
459,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1.0,England,0,1,20,0,1
460,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4.0,Senegal,0,3,20,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          461 non-null    object
 1   club          461 non-null    object
 2   age           461 non-null    int64
 3   position      461 non-null    object
 4   position_cat  461 non-null    int64
 5   market_value  461 non-null    float64
 6   page_views    461 non-null    int64
 7   fpl_value     461 non-null    float64
 8   fpl_sel       461 non-null    object
 9   fpl_points    461 non-null    int64
 10  region        460 non-null    float64
 11  nationality   461 non-null    object
 12  new_foreign   461 non-null    int64
 13  age_cat       461 non-null    int64
 14  club_id       461 non-null    int64
 15  big_club      461 non-null    int64
 16  new_signing   461 non-null    int64
dtypes: float64(3), int64(9), object(5)
memory usage: 61.4+ KB

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,461.0,26.804772,3.961892,17.00,24.0,27.0,30.0,38.0
position_cat,461.0,2.180043,1.000061,1.00,1.0,2.0,3.0,4.0
market_value,461.0,11.012039,12.257403,0.05,3.0,7.0,15.0,75.0
page_views,461.0,763.776573,931.805757,3.00,220.0,460.0,896.0,7664.0
fpl_value,461.0,5.447939,1.346695,4.00,4.5,5.0,5.5,12.5
fpl_points,461.0,57.314534,53.113811,0.00,5.0,51.0,94.0,264.0
region,460.0,1.993478,0.957689,1.00,1.0,2.0,2.0,4.0
new_foreign,461.0,0.034707,0.183236,0.00,0.0,0.0,0.0,1.0
age_cat,461.0,3.206074,1.279795,1.00,2.0,3.0,4.0,6.0
club_id,461.0,10.334056,5.726475,1.00,6.0,10.0,15.0,20.0
big_club,461.0,0.303688,0.460349,0.00,0.0,0.0,1.0,1.0
new_signing,461.0,0.145336,0.352822,0.00,0.0,0.0,0.0,1.0

 ## Step 1 : Training and testing the dataset

In [ ]:
train_df, test_df = train_test_split(df)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 184 to 360
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          345 non-null    object
 1   club          345 non-null    object
 2   age           345 non-null    int64
 3   position      345 non-null    object
 4   position_cat  345 non-null    int64
 5   market_value  345 non-null    float64
 6   page_views    345 non-null    int64
 7   fpl_value     345 non-null    float64
 8   fpl_sel       345 non-null    object
 9   fpl_points    345 non-null    int64
 10  region        344 non-null    float64
 11  nationality   345 non-null    object
 12  new_foreign   345 non-null    int64
 13  age_cat       345 non-null    int64
 14  club_id       345 non-null    int64
 15  big_club      345 non-null    int64
 16  new_signing   345 non-null    int64
dtypes: float64(3), int64(9), object(5)
memory usage: 48.5+ KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 276 to 170
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          116 non-null    object
 1   club          116 non-null    object
 2   age           116 non-null    int64
 3   position      116 non-null    object
 4   position_cat  116 non-null    int64
 5   market_value  116 non-null    float64
 6   page_views    116 non-null    int64
 7   fpl_value     116 non-null    float64
 8   fpl_sel       116 non-null    object
 9   fpl_points    116 non-null    int64
 10  region        116 non-null    float64
 11  nationality   116 non-null    object
 12  new_foreign   116 non-null    int64
 13  age_cat       116 non-null    int64
 14  club_id       116 non-null    int64
 15  big_club      116 non-null    int64
 16  new_signing   116 non-null    int64
dtypes: float64(3), int64(9), object(5)
memory usage: 16.3+ KB

In [ ]:
test_df.to_csv('/content/test_df.csv', index=False)

In [ ]:
train_df.to_csv('/content/train_df.csv', index=False)

## Step 2 : Pre-processing the dataset

In [ ]:
# Remove % sign from fpl_sel and convert to float
train_df.fpl_sel = train_df.fpl_sel.apply(lambda x : float(x[:-1]))

In [ ]:
train_df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
184,Andy Williams,Huddersfield,26,CB,3,0.65,3,5.0,0.1,0,3.0,Trinidad and Tobago,0,3,8,0,0
44,Jordon Ibe,Bournemouth,21,RW,1,8.00,504,5.0,0.4,36,1.0,England,0,1,2,0,0
363,Modou Barrow,Swansea,24,RW,1,3.00,437,5.0,0.1,34,4.0,The Gambia,0,2,16,0,0
29,Jermain Defoe,Bournemouth,34,CF,1,5.00,3213,8.0,15.0,166,1.0,England,0,6,2,0,0
165,Tommy Smith,Huddersfield,25,RB,3,2.00,65,5.0,1.1,0,1.0,England,0,3,8,0,0

In [ ]:
# Remove % sign from fpl_sel and convert to float
test_df.fpl_sel = test_df.fpl_sel.apply(lambda x : float(x[:-1]))

In [ ]:
test_df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
276,Marouane Fellaini,Manchester+United,29,CM,2,12.0,1498,5.0,0.2,48,2.0,Belgium,0,4,12,1,0
252,John Stones,Manchester+City,23,CB,3,35.0,1078,5.5,2.3,59,1.0,England,0,2,11,1,1
127,Lee Chung-yong,Crystal+Palace,29,RW,1,1.5,327,4.5,0.1,24,4.0,South Korea,0,4,6,0,0
145,Maarten Stekelenburg,Everton,34,GK,4,2.0,623,4.5,0.3,68,2.0,Netherlands,0,6,7,0,1
232,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.3,8,2.0,Spain,0,3,10,1,0

In [ ]:
train_df = train_df.dropna()
train_df.shape

(344, 17)

In [ ]:
test_df = test_df.dropna()
test_df.shape

(116, 17)